<div class="panel-body">
    <div class="form-group">
        <label>Last Name:</label>
        <input class="form-control" ng-model="currentPerson.lastName" />
        <label>First Name:</label>
        <input class="form-control" ng-model="currentPerson.firstName" />
        <label>Middle Name:</label>
        <input class="form-control" ng-model="currentPerson.middleName" />
        <label>Prefix:</label>
        <input class="form-control" ng-model="currentPerson.namePrefix" />
        <label>Suffix:</label>
        <input class="form-control" ng-model="currentPerson.nameSuffix" />
    </div>
    <button class="btn btn-primary" ng-click="saveEditPerson(currentPerson)">Save</button>
    <button class="btn btn-primary" ng-click="cancelEditPerson()">Cancel</button>
</div>