<div class="panel-body">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Loyalty Code</th>
            <th>Available Points</th>
            <th>Held Points</th>
            <th>Company</th>
            <th>Division</th>
            <th>Date Created</th>
            <!-- <th class="text-right">Price</th> -->
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="loyalty in loyalties">
            <td>{{loyalty.loyaltyCode}}</td>
            <td>{{loyalty.availablePoints}}</td>
            <td>{{loyalty.heldPoints}}</td>
            <td>{{loyalty.companyName}}</td>
            <td>{{loyalty.divisionName}}</td>
            <td>{{loyalty.dateCreated}}</td>
            <!-- <td class="text-right">{{loyalty.price | currency}}</td> -->
            <td class="text-center">
                <button class="btn btn-xs btn-primary"
                        ng-click="deleteLoyalty(loyalty)">
                    Delete
                </button>
                <button class="btn btn-xs btn-primary"
                        ng-click="editOrCreateLoyalty(loyalty)">
                    Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="listLoyalties()">Refresh</button>
        <button class="btn btn-primary" ng-click="editOrCreateLoyalty()">New</button>
    </div>
</div>